Repository letscontrolit/ESPEasy, pull requests merged in 2018-12, with the labels that each got.

#1813 Increase the rule speed
  lib/HLW8012_1.0.0_1281/CHANGELOG.md
  lib/HLW8012_1.1.1/.gitignore
  lib/HLW8012_1.1.1/.library.json
  lib/HLW8012_1.1.1/.travis.yml
  lib/HLW8012_1.1.1/CHANGELOG.md
  lib/HLW8012_1.1.1/LICENSE
  lib/HLW8012_1.1.1/README.md
  lib/HLW8012_1.1.1/docs/HLW8012.pdf
  lib/HLW8012_1.1.1/docs/HLW8012_pinout.png
  lib/HLW8012_1.1.1/examples/HLW8012_Basic/HLW8012_Basic.ino
  lib/HLW8012_1.1.1/examples/HLW8012_Basic/platformio.ini
  lib/HLW8012_1.1.1/examples/HLW8012_Basic_Sleep/HLW8012_Basic_Sleep.ino
  lib/HLW8012_1.1.1/examples/HLW8012_Basic_Sleep/platformio.ini
  lib/HLW8012_1.1.1/examples/HLW8012_Interrupts/HLW8012_Interrupts.ino
  lib/HLW8012_1.1.1/examples/HLW8012_Interrupts/platformio.ini
  lib/HLW8012_1.1.1/keywords.txt
  lib/HLW8012_1.1.1/library.json
  lib/HLW8012_1.1.1/library.properties
  lib/HLW8012_1.1.1/pre-commit
  lib/HLW8012_1.1.1/src/HLW8012.cpp
  lib/HLW8012_1.1.1/src/HLW8012.h
  src/Command.ino
  src/Commands/Common.h
  src/Commands/Rules.h
  src/Commands/Settings.h
  src/Controller.ino
  src/ESPEasy-Globals.h
  src/ESPEasy.ino
  src/ESPEasyRules.ino
  src/ESPEasyStorage.ino
  src/Misc.ino
  src/Networking.ino
  src/StringConverter.ino
  src/TimeESPeasy.ino
  src/WebServer.ino
  src/WebServer_Rules.h
  src/WebServer_Rules.ino
  src/_C010.ino
  src/_N001_Email.ino
  src/_P001_Switch.ino
  src/_P035_IRTX.ino
  src/_P037_MQTTImport.ino
  src/_P073_7DGT.ino
  src/_P076_HLW8012.ino
  tools/uncrustify.cfg
Labels: Category: Rules, Status: In Progress

#2157 Feature/testbuild core2 5 0 beta1
  before_deploy
  embed_files.sh
  platformio.ini
  preflight.sh
  src/Commands/Gpio.h
  src/ESPEasy-Globals.h
  src/Misc.ino
  src/Networking.ino
  src/define_plugin_sets.h
  tools/build_ESPeasy.sh
Labels: Category: Build, Category: Core related

#2167 [#2162] Restore PlatformIO config for WROOM02 + new 2M128 flash layout
  before_deploy
  platformio.ini
Labels: Category: Build

#2184 [WiFi] Add WiFi#APmodeDisabled & WiFi#APmodeEnabled #2180
  docs/source/Rules/Rules.rst
  src/ESPEasyWifi.ino
Labels: Category: Rules, Category: Wifi
