Repository letscontrolit/ESPEasy, pull requests merged in 2019-04, with the labels that each got.

#2398 Plugin P040_ID12 not included (#1761)
  src/define_plugin_sets.h
Labels: Category: Build, Category: Plugin

#2428 Homie 3.0.0 & 4dev convention controller Plugin
  src/Controller.ino
  src/ESPEasy-Globals.h
  src/ESPEasy.ino
  src/WebServer.ino
  src/_C014.ino
  src/_P001_Switch.ino
  src/_P033_Dummy.ino
  src/__CPlugin.ino
  src/__Plugin.ino
  src/define_plugin_sets.h
Labels: Category: Controller

#2446 [SHT1x] Add delay to slow down clock rate (#2444)
  docs/source/Plugin/P031_SHT1X.rst
  src/_P031_SHT1X.ino
Labels: Category: Plugin, Category: Stabiliy, Status: Fixed, Type: Enhancement
